<p id="notice"><%= notice %></p>

<h1>Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="1">Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.offical_name %></td>
        <td><%= link_to 'Show', type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
